<ion-view view-title="Project details" style="background-color: #FFF0E6">
    <ion-content>
        <center>
            <h1>{{project.title}}</h1>
            <p>{{project.shortDescr}}</p>
        </center>
        <div class="list card">
            <div class="row responsive-sm">
                <div class="col">
                    <div class="item item-text-wrap">
                        <strong> Description:</strong> {{project.longDescr}}
                    </div>
                </div>
                <div class="col">
                    <div class="item item-text-wrap">
                        <strong>Employer:</strong> {{project.employer.firstname}} {{project.employer.lastname}} (email: {{project.employer.email}})
                    </div>
                </div>
            </div>

            <div class="row responsive-sm">
                <div class="col">
                    <div class="item item-text-wrap">
                        <strong>Location:</strong> {{project.country}} {{project.city}} {{project.location}}
                    </div>
                </div>
                <div class="col">
                    <div class="item item-text-wrap">
                        <strong>Time completion limit:</strong> {{project.timeLimit | date:'yyyy-MM-dd'}}
                    </div>
                </div>
            </div>
            <div class="row responsive-sm">
                <div class="col">
                    <div class="item item-text-wrap">
                        <strong>Price limit:</strong> {{project.priceLimit}}
                    </div>
                </div>
                <div class="col">
                    <div class="item item-text-wrap">
                        <strong>Closing time:</strong> {{project.endDate | date:'yyyy-MM-dd'}}
                    </div>
                </div>
            </div>
        </div>
        </center>
        <div class="list card" ng-controller="QualificationsListCtrl">
            <ion-list>
                <ion-item class="item-outline item-calm" ng-click="toggleQualifications()" ng-class="{active: isQualificationsListShown}">
                    <i class="icon" ng-class="isQualificationsListShown ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Qualifications
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="qualification in project.qualifications" ng-class-odd="'odd'" ng-class-even="'even'" ng-show="isQualificationsListShown">
                    <strong>{{qualification.title}}</strong>
                    <br> Description: {{qualification.description}}
                </ion-item>
            </ion-list>
        </div>
        <div class="list card">
            <ion-list>
                <ion-item class="item-stable" ng-click="toggleBids()" ng-class="{active: isBidsListShown}">
                    <i class="icon" ng-class="isBidsListShown ? 'ion-minus' : 'ion-plus'"></i> &nbsp; Bids
                </ion-item>
                <ion-item class="item-accordion" ng-repeat="bid in project.bids" ng-class-odd="'odd'" ng-class-even="'even'" ng-show="isBidsListShown">
                    <div class="row responsive-sm">
                        <div class="col">
                            {{bid.expert.username}}
                        </div>
                        <div class="col">
                            <strong>Price:</strong> {{bid.price}}
                        </div>
                        <div class="col">
                            <strong>Estimated time:</strong> {{bid.estTime | date:'yyyy-MM-dd'}}</p>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </div>

        <div ng-controller="BidFormCtrl" ng-show="firstBid&&!bidRestricted">
            <div class="list card ">
                <div class="item item-divider">
                    Submit your bid
                </div>
                <div class="row responsive-sm">
                    <form name="newBidForm" novalidate ng-submit="newBidForm.$valid&&saveBid()">
                        <div class="item item-input-inset row responsive-sm">
                            <label class="item col">
                                <input name="price" type="number" step="0.01" placeholder="price" ng-model="newBid.price" style="background-color: #E0F5FF" required>
                            </label>

                            <div class="col">
                                <ionic-datepicker input-obj="datepickerObject">
                                    <button type="button" class="button button-block button-positive"> {{datepickerObject.inputDate | date:'yyyy-MM-dd'}} </button>
                                </ionic-datepicker>
                            </div>
                            <div class="col">
                                <button type="submit" ng-disabled="!newBidForm.$valid" class="button button-medium button-energized">Submit</button>
                            </div>
                        </div>
                        <div class="row responsive-sm">
                            <div class="col" style="margin-right:10px" ng-messages="newBidForm.price.$error" class="form-errors" ng-if="newBidForm.price.$touched">
                                <div ng-messages-include="templates/messages.html">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>