<ion-modal-view ng-controller="EditEmployerEvalCtrl">
    <ion-header-bar class="bar-positive">
        <h1 class="title">Edit your bid</h1>
    </ion-header-bar>
    <ion-content>
         <form name="editEvalForm" novalidate ng-submit="editEvalForm.$valid && updateEvaluation()">
                <label class="item item-input">
                    <input name="rating" type="number" step="0.01" ng-model="editEvaluation.rating" style="background-color: #E0F5FF" ng-max=10 required>
                </label>
                <div ng-messages="editEvalForm.rating.$error" class="form-errors col" ng-if="editEvalForm.rating.$touched">
                     <div class="form-error" ng-message="max">Rating should not be more than 10</div>
                    <div ng-messages-include="templates/messages.html">
                    </div>
                </div>
                 <label class="item item-input col" style="margin-left:30px">
                    <textarea name="comment" placeholder="Comment" ng-model="editEvaluation.comment" ng-maxlength=200 required></textarea>
                </label>
                <div ng-messages="saveEvalForm.comment.$error" class="form-errors col" ng-if="saveEvalForm.comment.$touched">
                        <div class="form-error" ng-message="maxlength">Your comment should be at most 200 chars</div>
                        <div ng-messages-include="templates/messages.html">
                        </div>
                    </div>
                <br>
               <br>
                <button class="button button-block button-assertive" ng-disabled="!editEvalForm.$valid" type="submit">Done</button>
                     
        </form>
    </ion-content>
</ion-modal-view>