<ion-view view-title="New project">
    <ion-content>
       
            <div class="item list-inset">
                <label class="item item-input item-floating-label" style="background-color: #FFFFEB">
                    <span class="input-label">Title</span>
                    <input name="title" type="text" placeholder="Title" ng-model="newProject.title" required ng-maxlength=50>
                </label>
                <div ng-messages="productForm.title.$error" class="form-errors" ng-if="productForm.title.$touched">
                    <div class="form-error" ng-message="maxlength">Title should be at most 50 chars</div>
                    <div ng-messages-include="templates/messages.html">

                    </div>
                </div>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Short description</span>
                    <input name="shortDescr" type="text" placeholder="Short description" ng-model="newProject.shortDescr" required ng-maxlength=200>
                </label>
                <div ng-messages="productForm.shortDescr.$error" class="form-errors" ng-if="productForm.shortDescr.$touched">
                    <div class="form-error" ng-message="maxlength">Short description should be at most 200 chars</div>
                    <div ng-messages-include="templates/messages.html">
                    </div>
                </div>
                <label class="item item-input item-floating-label" style="background-color: #FFFFEB">
                    <span class="input-label">Long description</span>
                    <textarea style="background-color: #FFFFEB" placeholder="Long description" ng-model="newProject.longDescr">
                    </textarea>
                </label>
                <br>
                <div class="row responsive-sm">
                <a ui-sref="app.tabs.newProject.map">                         
                <button type="button" class="col button button-balanced button-medium"> Restrict location</button>
                       </a>
                <button type="button" class="col button button-stable button-medium" ng-click="cancelRestriction()"> Cancel restriction</button>
                </br>
                </div>
                <label class="item item-input item-floating-label" style="background-color: #FFFFEB">
                    <span class="input-label">Price limit</span>
                    <input name="priceLimit" type="number" step=0.01 placeholder="Price" ng-model="newProject.priceLimit" required>
                </label>
                <div ng-messages="productForm.priceLimit.$error" class="form-errors" ng-if="productForm.priceLimit.$touched">
                    <div ng-messages-include="templates/messages.html">
                    </div>
                </div>
<div class="row responsive-sm">
                <label class="item item-input col" >
                    <span class="input-label col">Time completion limit:</span>
                    <ionic-datepicker style="margin-left:60px" input-obj="datepickerTimeLimit">
                        <button type="button" class="button button-block button-positive"> {{datepickerTimeLimit.inputDate | date:'yyyy-MM-dd'}} </button>
                    </ionic-datepicker>
                </label>
        </div>
        <div class="row responsive-sm">
                <label class="item item-input col" style="background-color: #FFFFEB">
                    <span class="input-label">Closing date:</span>
                    <ionic-datepicker style="margin-left:60px" input-obj="datepickerEndDate">
                        <button type="button" class="button button-block button-energized"> {{datepickerEndDate.inputDate | date:'yyyy-MM-dd'}} </button>
                    </ionic-datepicker>
                </label>
            </div>
                <br>
                <button type="button" class="button button-calm" ng-click="hideQualifications()"> Choose qualifications</button>
                <br>
                <div class="list card" ng-show="showQualifications">

                    <div class="item item-divider" style="background-color: #FFFFEB">
                        Choose job's required qualifications
                    </div>
                    <div class="nested" ng-controller="QualificationsBoxCtrl">
                        <div class="item-list">
                            <div class="item item-checkbox" ng-repeat="qualification in qualifications track by qualification.qualId">
                                <label class="checkbox">
                                    <input type="checkbox" checklist-model="newProject.qualifications" checklist-value="qualification" checklist-comparator="compareFn"></input>
                                </label>
                                {{qualification.title}}
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <button type="submit" ng-disabled="!productForm.$valid" class="button button-block button-positive">Submit</button>
            <br>
            <br>
       
    </ion-content>
</ion-view>